.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #2f3636;
  color: white;
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.social_icons {
  display: flex;
}

.social_icons a {
  font-size: 24px;
  padding: 10px;
}
